<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "appId" value="3863742"/>
    <add key = "AuthUrl" value="https://oauth.vk.com/authorize"/>
    <add key = "Redirect URL" value="https://oauth.vk.com/blank.html"/>
    <add key ="scope" value="12"/>
    <add key ="display" value="page"/>
    <add key = "response_type" value="token"/>
  </appSettings>
</configuration>