<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="VkAuth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
   </configSections>
  
  <appSettings>
    <add key="appId"   value="3863742"/>
    <add key="AuthUrl"   value="https://oauth.vk.com/authorize"/>
    <add key="Redirect URL"   value="https://oauth.vk.com/blank.html"/>
    <add key="scope"  value="12"/>
    <add key="display"  value="page"/>
    <add key="response_type"   value="token"/>
    <add key="accessToken"  value=""/>
    <add key="expiresIn"  value=""/>
    <add key="userId"  value=""/>
  </appSettings>
<userSettings>
    <VkAuth.Properties.Settings>
        <setting name="accessToken" serializeAs="String">
            <value />
        </setting>
        <setting name="userId" serializeAs="String">
            <value />
        </setting>
        <setting name="expiresIn" serializeAs="String">
            <value />
        </setting>
    </VkAuth.Properties.Settings>
  </userSettings>
 </configuration>